.adds{
    width: 100%;
}
.adds .add{
    position: relative;
    margin-bottom: 1.5rem;
}
.adds .add img{
    width: 100%;
    height: 350px;
}
.adds .add h2{
    position: absolute;
    color: white;
    font-size: 2.2rem;
    bottom: 8%;
    left: 38%;
}
