.CommentSection{
    width: 50%;
    margin: 0 auto;
}
.CommentSection .comment-info{
    display: flex;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
.CommentSection .comment-info div{
    opacity: 0.9;
    margin-right: 3em;
}
.CommentSection .icon-1{
    color: #006633;
    padding: 1em 3em 1em 0;
    text-decoration: none;
    cursor: pointer;
}
.CommentSection .icon-1 i{
    display: inline-block;
    margin-right: 0.3em;
}
.CommentSection .like-section{
    padding: 2em 0 1em;
    margin-top: 0.3em;
}
.CommentSection .like-section a {
    background-color: #006633;
    padding: 0.2em 0.5em 0.4em;
    height: 1px;
    width: 5px;
    border-radius: 100%;
}
.CommentSection .like-section .like-icon{
    color: white;
    font-size: 0.9em;
}
.CommentSection .comment-section{
    display: flex;
    align-items: flex-start;
    margin-top: 0.8em;
}
.CommentSection .comment-section .empty-div{
    width: 3.2em;
    height: 3.2em;
    background-color: #006633;
    margin-right: 0.5em;
    border-radius: 50%;
}
.CommentSection .comment-section .comment-form{
    width: 83.2%;
}
.CommentSection .comment-section .comment-form input{
    width: 100%;
    padding: 1em;
    padding-left: 0.5em;
    color: #006633;
    outline: none;
    border: none;
    border: 1px solid lavender;
}
.CommentSection .comment-section .comment-form input::placeholder{
    color: #006633;
}
.CommentSection .comment-section .comment-form input:hover{
    box-shadow: 1px 1px 5px #006633;
}
.CommentSection .comment-section .comment-form input:focus{
    box-shadow: 1px 1px 5px #006633;
}
.CommentSection .comment-section .comment-form .btn{
    background-color: #006633;
    color: white;
    padding: 0.7em 0.5em;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}