.groups{
    width: 100%;
    margin: 1rem 0 2rem;
}
.groups .card-header{
    background-color: #006633;
    color: white;
    font-size: 1.4rem;
    padding: 0.3rem 0;
    text-align: center;
    font-weight: 500;
}
.groups .card-body{
    border: 1px solid #006633;
    padding-left: 20%;
    padding-bottom: 0.2rem;
    padding-right: 20%;
}
.groups .card-body .group-link{
    color: #006633;
    font-weight: 500;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    display: block;
    text-decoration: none;
}
.groups .card-body .groups-icon{
    margin-left: -18%;
    margin-right: 10%;
    color: #006633;
}